html, body {
    height: 100%;
}

body {
    font-family: Menlo, monospace;
    font-size: 13pt;

    background: whiteSmoke;
    color: #000;
    margin: 0px;
}
.CodeMirror {
    font: inherit;
    height: auto;
    width: 100%;
    // position: absolute;
    line-height: 1.5;
    min-height: 100%;
}

.CodeMirror pre.CodeMirror-placeholder { color: #999; }

.CodeMirror-focused .CodeMirror-selected { background: #bedcfb; }

.CodeMirror-lines {
    padding: 100px 0;
}
.CodeMirror pre {
    padding: 0 100px;
}
#canvas {
    display: none;
}
#editor {
    flex: 1;
    position: relative;
    display: flex;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#workaround {
    min-height: 100vh;
}

#workaround {
    display: flex;
    flex-direction: column;
}

#toolbar {
    padding: 20px 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f5f5f5;
    border-top: 1px solid #e2e2e2;
    display: flex;
}


footer {
    padding: 10px;
    display: flex;
    overflow: hidden;
    border-top: 1px solid #c7c7c7;
}

.spacer {
    flex-grow: 1;

}

a {
    color: #61b500;
    text-decoration: none;
    font-weight: bold;
}

.waiting {
    display: inline-block;
    border: 2px solid #dadada; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 1s linear infinite;
    margin: 0 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


#preamble {
    padding: 20px 100px;
    opacity: 0.8;
    
    
    background: whiteSmoke;
    // position: absolute;
}

select {
    font-size: 150%;
    background: rgb(255, 255, 255);
    color: #4a4a4a;
}


#weirdness-stuff {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* margin-bottom: -10px; */
    border: 1px solid #e2e2e2;
    padding: 10px;
}


.CodeMirror #preamble {
    border-bottom: 1px solid #ccc;
}

#do-stuff {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #98ff47;
    border: 0;
    border-radius: 5px;
    font-size: 150%;
    font-family: Menlo, monospace;
    cursor: pointer;
}

@media (max-width: 700px){
    #preamble {
        padding: 20px 20px;
    }
    .CodeMirror pre {
        padding: 0 20px;
    }
    #weirdness-stuff {
        display: none !important;
    }
    #do-stuff {
        display: inline;
    }
}